html,
body {
    margin: 0;
    background-color: #54606c;
}
#questioncontainer{
    background-color: rgba(0, 0, 0, 0.5);
    width: 75vw;
    height: 75vh;
    margin: auto;
    margin-top: 12.5vh;
    border-radius: 10px;
}